@import "variables";

// -------------------------------------------------
// Mixins

@mixin label-text {
    font-family: $label-font-family;
    line-height: $label-line-height;
    font-weight: $label-font-weight-bold;
    font-size: $label-font-size;
    color: $label-color;
}

@mixin description-text {
    font-family: $description-font-family;
    line-height: $description-line-height;
    font-size: $description-font-size;
}
